// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    font-family: arial;
}

h2 {
    font-family: arial;
}

.letters {
  font-family: arial;
  border: 1px solid #3498dc;
  margin: 8px;
  padding: 8px 16px;
  background-color: #3498dc;
  color: white;
  box-shadow: 5px 5px 5px #c4b6c4;
  display: inline;
}

#form {
  margin-top: 32px;
}

.form-control {
  margin: 0 auto;
}

#link, #result {
  margin-left: 16px;
}
